.contenedor{
    display: flex;
    align-items: center;
    border: 2px solid blue;
    border-radius: 1000px;
    padding: 10px;
    width: 200px;
    height: 50px;
}

.content{
    width: 50%;
    text-align: center;
    background-color: red;
    margin: 10px;
    border-radius: 1000px;
}

button{
    background: none;
    border: none;
    font-size: 15px;
}

.hidden{
    visibility: hidden;
}